[2018-02-12 15:57] burningion opened #1 "Saving Video Crashes on Ubuntu 16.04"
Thanks for the work!

Just wanted to let you know, saving a webm hangs Visual Studio Code in Ubuntu 16.04.

I can record the video, but once I hit stop and the save dialog box comes up, Visual Studio Code hangs and I have to kill it.

[2018-02-12 22:51] actarian commented on #1
Thank you, I'll try to fix it with the next release.

[2018-02-14 20:22] actarian commented on #1
@burningion  I've tested the extension on a fresh installation in Ubuntu 16.04 but I do not experienced the issue.

However this helped me resolve other problems related to other extension dependancy. I've tried to change the codec from `.webm` h264 to standard `.webm.`.

You can try it downloading the `.vsix ` from [here](https://github.com/actarian/vscode-glsl-canvas/blob/master/glsl-canvas-0.1.

[2018-02-14 20:26] burningion commented on #1
That worked! The UI still gets wonky for me (mouse clicking doesn't work), but if I hit ENTER to accept, the file is successfully saved.

Thanks!

[2018-02-14 20:26] #1 closed

[2018-02-18 17:59] peeke opened #2 "After resizing, u_mouse uniform reports wrong values"
When I show the glslCanvas u_mouse uniform reports the correct values. When I resize the canvas window, or the whole vscode window, the u_mouse uniform reports incorrect values.

I'm using this plugin on OS X 10.12.6, 15" inch macbook with retina screen (2.0 devicePixelRatio). VS  Code version is 1.20.1.

[2018-02-19 00:11] actarian commented on #2
@peeke I can't reproduce the issue. could you please try with this fragment? [link](http://thebookofshaders.com/edit.php?log=180219000427)

[2018-03-23 17:09] #2 closed

[2018-04-09 13:58] leocb opened #3 "Slow update time when changing values"
The Book of Shaders Editor is notorious for it's fast update time when changing values
This extension seems to recompile the shader when the editor is in the "Idle" status rather than "on type"; Again, I don't know exactly how you implemented this or if this is a limitation of VSCode itself.

But I believe giving the user options is the best way to go, my suggestion is to create a command (F1) or

[2018-04-09 14:44] actarian commented on #3
@leocb I'll look into it in the next release. I'll change the setTimeout with a throttle function.

[2018-04-09 15:09] leocb commented on #3
[Bracket Pair Colorizer](https://marketplace.visualstudio.com/items?itemName=CoenraadS.bracket-pair-colorizer) Uses a bracketPairColorizer.timeOut configuration to let users set whatever timeout they want (0 to disable the timeout). I believe something like this would be sufficient.

[2018-04-18 12:04] leocb commented on #3
@actarian I'm working on a PR for this, I've already added a configuration string to set the timeout, what would be better for the default value: 1000ms timeout or no timeout? I tested the "main" snippet with no timeout and the result was very good and responsive

[2018-04-23 18:39] #3 closed

[2018-06-22 19:13] sixclones opened #5 "No reload until uniform u_time is used"
Hello

Since the last update, when I create a fragment shader, the preview doesn't update until I insert `u_time` in my code.

VSCode : 1.24.1
macOS : 10.13.5

Demo:
![glslcanvas-bug](https://user-images.githubusercontent.com/19307232/41794831-fb1681ec-7660-11e8-882d-cb3c53c15491.gif)

[2018-06-24 09:59] actarian commented on #5
@sixclones Thank you, I've spotted some issue on a dependency. I'm going to fix that.

[2018-06-29 17:38] actarian commented on #5
@sixclones Fixed with version 0.1.91

[2018-06-29 17:38] #5 closed

[2018-08-31 16:07] sixclones opened #7 "Can't use local images as textures"
Hello,

I've try to use texture but when I define one with a path to my computer, it doesn't show anything.

[code]

Textures 0 and 1 doesn't work but 2 is ok.

The `settings.json` is located on `.vscode/settings.json` of my project.

VSCode : 1.26.1
macOS : 10.13.6
glsl-canvas : 0.1.91

[2018-09-26 12:16] ErwanBueche opened #8 ""Create one" button to create .glsl editor does'nt do anything"
I don't really know if this has it's place here but i'll try.
So i'm working with Ubuntu 18.04 and wanted to visualise my webgl canvas in vs code.
I've installed glslCanvas and reloaded my vs code and typed the command "Show glslCanvas" and it opens the window and says there's no active .glsl Editor. The problem is when i click on the button to create one it doesn't do anything. I've tried uninsta

[2018-10-13 09:01] sixclones opened #9 "glslCanvas error : Index expression must be constant"
Hi,

I've found an issue when you want to dynamicly access to an index of an array.
[code]

I test this code with [glslViewer](https://github.com/patriciogonzalezvivo/glslViewer) and that work well.

VSCode : 1.28.1
macOS : 10.14
glsl-canvas : 0.1.91

[2018-10-13 09:38] actarian commented on #9
@sixclones  the error messages come directly from the browser webgl api that compiles the shader, it should be an error on the shader. maybe glslViewer use extensions or you are running it over different webgl specs.

[2018-10-27 17:11] muukii commented on #7
I have the same issue.
But, I can use an absolute path with `file://`.

[2018-11-30 12:05] DJLink commented on #8
having the same issue on Windows, can't use it

[2018-12-01 14:33] actarian commented on #8
@ErwanBueche @DJLink hi, running Show glslCanvas command should open a small fragment shader on a secondary panel. focusing that panel you should see this.

![schermata 2018-12-01 alle 15 21 01](https://user-images.githubusercontent.com/1841442/49329358-d64eb680-f57d-11e8-909e-6f2e366b5802.png)

If you have problem please submit a more detailed use case.
system, vscode version, installed extension

[2018-12-01 20:11] actarian commented on #8
@ErwanBueche trying to debug on a fresh install of Ubuntu 18.04 in vmware and seems that vscode cannot find the opengl drivers.

`libGL error: unable to load driver: vmwgfx_dri.so
libGL error: driver pointer missing
libGL error: failed to load driver: vmwgfx
libGL error: unable to load driver: swrast_dri.so
libGL error: failed to load driver: swrast`

To double check try launch this command after

[2018-12-01 20:41] actarian commented on #8
@ErwanBueche  ok I did solve the webgl issue in Ubuntu removing vscode from the /snap folder and re installing it manually from the .deb file from [here](https://code.visualstudio.com/docs/setup/linux)

`sudo apt install ./code.deb`

after this the extension work as usual.

if you continue to have issue check your OpenGL drivers running this command in terminal
`glxinfo | grep OpenGL`

[2018-12-02 07:05] actarian commented on #7
@sixclones  @muukii  issue has been fixed in latest release. now you can use relative path for textures.

[2018-12-02 11:47] sixclones commented on #7
Thanks man ! 👍

[2018-12-02 17:31] muukii commented on #7
@actarian Ohhhh! Thank you so much!

[2018-12-03 17:53] #7 closed

[2018-12-13 20:01] #8 closed

[2018-12-30 12:43] lewislepton opened #11 "[QUESTION] a basic working vertex & fragment shader errors"
now I may just be hitting my head against the wall, but im looking to do minor vertex shader stuff, alongside fragment & trying basic shaders for both is coming up with errors.

im trying different things from different sources, making sure that I have `attribute` & `varying` & making sure things are named right.

I have also tried playing with different things, but still running up with errors on

[2019-01-01 17:43] actarian commented on #11
@lewislepton vscode-glsl-canvas extension support only fragment shader,
the vertex shader is fixed with this code

[code]

if you want to customize your vertex shader please use the glslCanvas.js library at this link [https://github.com/patriciogonzalezvivo/glslCanvas](https://github.com/patriciogonzalezvivo/glslCanvas)

[2019-01-01 18:08] lewislepton commented on #11
coolio, cheers man

[2019-01-01 18:08] #11 closed

[2019-01-05 22:17] willstall opened #12 "Custom Uniforms Missing Values"
Heyo!

I absolutely love this extension and use it constantly. I'd love to be able to use the custom uniforms, but they see to have a lot of value issues. I have my shader on my left panel and glslCanvas on my right panel. If I open up an shader that uses the custom uniforms the values are unset until I click on stats and manually change a uniform. Once I change a uniform we're golden. The second

[2019-01-18 16:28] willstall opened #13 "Feature Request: Vec3,vec4 Color Picker"
I use this plugin every single day for my Glsl daily and just love it. The one thing I'm really missing is the color picker from glslCanvas.....I also love the float sliders, but hey....I just love the color picker more.

Would there be any chance of integrating a color picker?

[2019-01-18 17:38] Niels-NTG opened #14 "GLSL canvas disappears when reordering editor layout"
When I want to preserve some horizontal space I move the GLSL canvas underneath my shader code. When I either do this by dragging the canvas tab to the lower/upper half of my editor or do "View" > "Editor Layout" > "Flip Layout", the tab becomes blank. Doing the "Refresh glslCanvas" action doesn't do anything. This used to work in earlier versions of VSCode. I'm not sure which version because it h

[2019-01-23 11:19] leocb commented on #13
We all want this feature, believe me!
Currently VSCode does not support inline HTML/JS so we can't do this.. yet
There are some discussion about this (Microsoft/vscode#3220 and Microsoft/vscode#66493) and a PR that may be what we need (Microsoft/vscode#66418)

[2019-01-23 14:24] actarian commented on #13
@willstall @leocb this functionality has been implemented and will be shipped with the next release of the extension. it essentially use DocumentColorProvider from the vscode Api

[2019-01-24 16:46] willstall commented on #13
yooooooooooooooooooooo.....that's amazing news!!!

[2019-01-24 17:16] leocb commented on #13
Nice! this will be a good workaround (tough not perfect because thebookofshaders's pickers are awesome) I guess this will do while we wait for the vscode features I linked to. I think we should still leave this issue opened(?)

[2019-01-27 21:49] actarian commented on #12
@willstall issue has been fixed in latest release. thank you!

[2019-01-27 21:50] actarian commented on #13
@willstall @leocb feature added to last release. let's keep it opened waiting for code inset feature.

[2019-01-27 21:51] actarian commented on #14
@Niels-NTG issue has been fixed in latest release. thank you!

[2019-01-29 09:58] Niels-NTG commented on #14
Yes, that indeed solved the issue. Thanks! 👍

[2019-01-29 09:58] #14 closed

[2019-01-29 11:29] Smilediver opened #15 "All *.cpp files are treated as glsl."
After update to 0.2.2 all cpp files are being treated as glsl. If I downgrade to 0.1.92, everything is fine again.

[2019-01-29 12:39] actarian commented on #15
@Smilediver Could you please try downloading version 0.2.3 .vsix from [here](https://github.com/actarian/vscode-glsl-canvas/blob/master/glsl-canvas-0.2.3.vsix) and launching Extensions: Install from VSIX... from command palette? If this solve your issue I'll proceed with a public release.

[2019-01-29 18:23] willstall commented on #13
Got it working. Gonna give this a week or two and drop feedback in here =)

[2019-02-01 16:59] willstall commented on #13
I'm loving this so far....

[2019-02-03 17:47] matthewconstantine opened #16 "Custom Uniforms Documentation?"
I'm pretty new at glsl coding and I have found this extension is incredibly helpful. Thanks!

I'd love to use dat.gui but couldn't figure out how. Could you include an example? I tried to define and declare a uniform, thinking it would appear automatically when I clicked the options icon. Is there more to making it work?

[code]

[2019-02-04 12:19] actarian commented on #16
@matthewconstantine  Thank you! You can open VSCode Preferences settings.json or workspace .vscode/settings.json and add custom uniforms as a key value pair:

[code]
You can find major info here:
[https://github.com/actarian/vscode-glsl-canvas/blob/master/README.md](https://github.com/actarian/vscode-glsl-canvas/blob/master/README.md)

and here
[https://github.com/actarian/vscode-glsl-canvas/blob/

[2019-02-09 13:56] #16 closed

[2019-02-09 13:56] #15 closed

[2019-02-09 13:57] #12 closed

[2019-02-14 17:25] bryangingechen opened #17 "u_mouse and u_resolution"
Something is off with `u_mouse` and / or `u_resolution` on my computer. [The shader](https://thebookofshaders.com/edit.php?log=180219000427) you linked in issue #2 works fine for me in my browser, but when I try it with the extension in VS Code the dot is restricted to the bottom left quarter of the canvas:

![video clip](https://user-images.githubusercontent.com/5209952/52804632-ada16d80-3052-11e

[2019-02-16 19:48] actarian commented on #17
@bryangingechen Could you please try downloading version 0.2.5 .vsix from [here](https://github.com/actarian/vscode-glsl-canvas/blob/master/glsl-canvas-0.2.5.vsix) and launching Extensions: Install from VSIX... from command palette? If this solve your issue I'll proceed with a public release.

[2019-02-16 19:54] bryangingechen commented on #17
This works! Thanks so much!

[2019-02-16 22:04] #17 closed

[2019-02-16 22:11] actarian commented on #17
@bryangingechen issue has been fixed in latest release. thank you!

[2019-03-04 10:15] IanNS333 opened #18 "Undeclared Identifier Basic Example"
I just downloaded this extension and when trying to run any example found [here](https://actarian.github.io/vscode-glsl-canvas/) (https://actarian.github.io/vscode-glsl-canvas/) I get all sorts of syntax errors. As shown in the image below, can someone help me understand what is going on?

![image](https://user-images.githubusercontent.com/17051143/53726544-c754fa00-3e33-11e9-8e99-0dbe511ac191.png

[2019-03-04 13:16] actarian commented on #18
@IanNS333 You're simply missing some pieces of code. use the create button or copy/paste this code.

[code]

You can also add code by snippets. Try start typing `glsl.main` and press enter.

more info [here](https://github.com/actarian/vscode-glsl-canvas/blob/master/src/snippets/snippets.md)

[2019-03-04 17:07] #18 closed

[2019-03-08 16:18] willstall opened #19 "Feature Request: include support such as glslViewer"
So, I know the original GLSLCanvas doesn't currently support include's... However, Patricio's glslViewer does. I'm wondering if there's a way we could patch together an include system.

[2019-03-26 04:49] RobertAron opened #20 "[Question] Setting up IntelliSense"
Hi! I just have a quick question about workflow. I'm really new to shaders so please excuse me if this is a dumb question :)

I noticed someone else was setting up intellisense in #10 and wanted to try it out as well. I included glm in my workspace and set my file name to be `helloworld.glsl.cpp`. In my file I have

[code]

This makes intellisense work, but it has some bad side effects like losing

[2019-03-26 07:40] actarian commented on #20
@RobertAron unfortunately as of today the shader extensions are
[code]
.cpp files are handled by the editor as c++ files only.

[2019-03-27 01:36] #20 closed

[2019-03-30 16:51] ianacaburian opened #21 "is glsl version 3.0 and higher supported?"
[code]
This tells me I need higher version, and then doesn't seem to work when I add `#version 300 es`. Thanks for your attention.

[2019-05-15 19:29] winduptoy opened #22 "Incorrect color"
I've noticed that the color is incorrect for me. A simple shader that renders solid red is not completely red in the rendered output. See the difference between the canvas and the color picker? Is there some sort of color space transformation going on here?

![Screenshot from 2019-05-15 15-26-46](https://user-images.githubusercontent.com/270504/57803260-f639f700-7725-11e9-9540-38781ca307cb.png)

[2019-05-20 14:19] actarian commented on #22
@winduptoy Cannot reproduce, could be something that has to do with color space. (currently tested on mac and windows)

![Schermata 2019-05-20 alle 16 15 12](https://user-images.githubusercontent.com/1841442/58028310-bd7d9180-7b1a-11e9-8c10-0c9a760824ee.png)

[2019-05-20 21:52] winduptoy commented on #22
Welp, shucks. This was on Ubuntu 19.04. Curse the complexity of the graphics stack.

[2019-05-20 21:52] #22 closed

[2019-05-23 04:34] rmmh commented on #21
Probably needs the equivalent of patriciogonzalezvivo/glslCanvas#37

[2019-05-23 11:19] actarian commented on #21
@ianacaburian @rmmh could be trivial to handle both conditions, but vscode-glsl-canvas uses a customization of glslCanvas, I'll try to investigate through this.

[2019-06-28 19:56] willstall commented on #13
https://code.visualstudio.com/api/extension-guides/webview

Could this help for making a float component?

[2019-06-28 20:15] leocb commented on #13
The feature you linked only displays webviews on a separate tab (some examples are: this GL canvas extension and the markdown preview), I looked into using it, but the user experience is just terrible and slow, the pickers need to be placed in-line or over the code to be useful in any way.

What we need is the code inset feature, that is the vscode#66418 PR I mentioned above, and that is still und

[2019-06-29 01:03] willstall commented on #13
Ahhh yeah.... Figured as much. I got there following that link and threw it in real quick. I does look like some progress on that inset feature has been made in the last few weeks. I saw something in my searching about it

[2019-06-30 10:16] mujina93 opened #28 "no command Show glslCanvas available"
Installed the extension on Windows 10 1903. Using Ctrl-P and searching for "Show glslCanvas" does not provide any result. Am I missing something about the installation maybe?

[2019-07-01 10:33] actarian commented on #28
@mujina93 this does not seems an extension issue. Did you try restarting vscode? Eventually, if you find the way to run incurring into other issues try to run `Developer: Toggle Developer Tools`.

[2019-07-07 04:42] shengsword opened #29 "is it possible to integrate glslify in glsl-canvas?"

[2019-07-11 16:57] willstall commented on #13
![Screen Shot 2019-07-11 at 12 53 58 PM](https://user-images.githubusercontent.com/8049767/61069901-57efa800-a3db-11e9-8f27-3614e3882b78.png)

Hey guys! Does this help at all? Looks like inset Webview's at a line number

[2019-07-11 17:34] leocb commented on #13
Yes, that's the inset feature we're waiting for, it's in beta test on the Insiders build of vscode

[2019-07-12 15:54] actarian commented on #28
closed due to inactivity.

[2019-07-12 15:54] #28 closed

[2019-07-12 15:57] actarian commented on #29
@shengsword it's possible, could you please provide a possible use case?

[2019-07-12 16:19] actarian commented on #13
🎉 Huray!

[2019-08-03 17:29] KoltesDigital opened #33 "The non-compact formatter enforces a space at the end of some lines"
Hi,

Uncommenting https://github.com/actarian/vscode-glsl-canvas/blob/eded3004b3d1fb9b4fd88cc11b954210800e9f2c/src/glsl/format.provider.ts#L71 solves the problem, but I can't tell if it introduces other irregularities.

[2019-08-03 20:11] KoltesDigital commented on #33
Hm, also when a line starts with `{`, a space is enforced before. But this may need a change in the algorithm.

[2019-10-08 20:07] weepy opened #35 "audio & webcam"
would it be possible to have audio and webcam textures like ShaderToy ?

[2019-10-09 03:59] actarian commented on #35
@weepy unfortunately vscode does not ship with ffmpeg so actually is not possible to play video or audio elements. [vscode/issues/67945](https://github.com/microsoft/vscode/issues/67945#issuecomment-461157831)

[2019-10-09 07:14] weepy commented on #35
oh - I assumed it was webgl/javascript ?

On Wed, Oct 9, 2019 at 4:59 AM Luca Zampetti <notifications@github.com>
wrote:

[2019-10-09 11:53] actarian commented on #35
@weepy yes it is, but the vscode app is shipped with a chromium version that is missing with the capability of playing video or audio elements. You can however try the export functionality that open your glsl code in your browser that doesn't have the restriction.

[2019-10-13 10:17] actarian commented on #33
@KoltesDigital issue has been fixed in latest release. thank you!

[2019-10-13 10:19] KoltesDigital commented on #33
Great, thanks!

[2019-10-13 10:19] #33 closed

[2019-10-13 10:19] actarian commented on #21
@ianacaburian @rmmh WebGL2 support has been added to latest release of the extension. Thank You!

[2019-10-13 10:20] actarian commented on #19
@willstall #include macro support has been added to latest release of the extension. Thank You!

[2019-10-14 18:32] #21 closed

[2019-10-21 18:37] #19 closed

[2019-10-22 17:25] willstall commented on #19
Thanks!!

[2019-11-30 10:04] constantdupuis opened #36 "How to use webgl2 ?"
I don't find any information about using WebGl2 with glslCanvas.
Nohting in STackOverflow.
I have read https://webgl2fundamentals.org/webgl/lessons/webgl-shaders-and-glsl.html, but I just got a white result with the following code

[code]

If I use gl_FragColor I got a error message ...

What did I Miss ?

Thank's

Constant

[2019-11-30 17:32] mic361 commented on #36
Hi, Constant, by chance I had the same problem just a few hours later. I am using webgl2 as part of the Visual Studio Code glsl-canvas extension. Seems that the problem went away after restarting vscode, and then starting with a webgl2 based shader within vscode. In fact, webgl1 based shaders then showed compile errors. I started using the example from [glsl-canvas](https://github.com/actarian/gls

[2019-11-30 18:02] constantdupuis commented on #36
Yes it works now !? I'm sure I have restarted my computer ...
Thank you to pointing me to the samples.

Regards,

Constant

[2019-11-30 18:02] #36 closed

[2019-12-30 03:32] VanushVaswani opened #37 "How to use nearest neighbor interpolation?"
When sampling from a 64 x 64 texture (Bayer matrix), I get the below in the preview.

![image](https://user-images.githubusercontent.com/7519133/71567167-154c9400-2b11-11ea-895c-02bdc5d012c6.png)

However, I expected a matrix-like texture. Any idea how to switch to nearest neighbor?

[2019-12-30 20:01] actarian commented on #37
@VanushVaswani  `glsl-canvas` supports `{ filtering: 'nearest' }` as texture option, but due to the way `vscode-glsl-canvas` plugin currently handle textures is not possible to pass parameters. I'm trying to add the feature with those two proposal:

*proposal 1*
adding texture options as evaluable object after texture url
[code]

*proposal 2*
adding texture options as querystring of the texture ur

[2019-12-31 00:59] VanushVaswani commented on #37
I like proposal 2!

[2020-01-01 16:54] actarian commented on #37
@VanushVaswani proposal 2 has been added to latest plugin release! Thank You!

[2020-01-07 12:54] #37 closed

[2020-01-07 14:47] #35 closed

[2020-01-28 17:57] willstall opened #38 "Looking for WebGL Extension Support"
Hey team!

I'm looking to use texture2DLodEXT in a shader. I've added:
#extension GL_EXT_shader_texture_lod : enable
#extension GL_OES_standard_derivatives : enable

But, I believe we might need to add:
gl.getExtension('EXT_shader_texture_lod');

to our gl init for this to work. Am I doing something wrong or is this something we could easily add?

Here's the doc:
https://developer.mozilla.org/en-U

[2020-03-14 18:48] bbstilson opened #40 "Undeclared Identifier error with WebGL2"
## To Repro

`test.frag`

[code]

## Actual

<img width="772" alt="image" src="https://user-images.githubusercontent.com/7949037/76688421-bd8ad880-65e9-11ea-9342-7ea4a9de6a47.png">

## Expected

A black screen.

[2020-03-14 19:08] bbstilson commented on #40
This is not a bug. I am learning about shaders and naively assumed the main function would return the same thing between versions. I discovered that this is not true by reading this source: https://webgl2fundamentals.org/webgl/lessons/webgl1-to-webgl2.html

Sorry for the noise!! 😅

[2020-03-14 19:08] #40 closed

[2020-03-29 07:58] actarian commented on #38
@willstall
WebGL extensions has been added to extension version 0.2.10
You can include any supported WebGL extension through the ```glsl-canvas.extensions``` array option modifying the workspace's ```settings.json``` file.
[code]
You can then enable the extension in the shader
[code]
___

[2020-04-28 20:38] #38 closed

[2020-05-07 09:27] BrendonCon opened #41 "nested includes"
Hey guys, thanks for an awesome tool firstly :)

I wanted to query whether nested includes work? I keep getting a glsl-canvas error when I try nesting includes into files that are being included. Is there a way I can debug on my end to help? I'm looking to make a common lib and to have a lot of smallish functions in their own files.

Thanks again!

[2020-05-08 15:34] actarian commented on #41
@BrendonCon thank you!
Unfortunately at the moment nested includes are not available.
I'll try to investigate the possibility to add them.

[2020-05-11 22:36] BrendonCon commented on #41
@actarian thanks so much, I can still work with that so all good :) Hopefully its not too much of a pain, good luck!

[2020-05-14 15:18] FrankBATMAN opened #42 "is there something wrong about supporting WebGL2.0?"
code below gets the message: ***glsl-canvas error***

the render result is blank

[code]

so what is wrong? i have no idea.

[2020-05-14 15:46] FrankBATMAN commented on #42
restart the vscode should fix this

[2020-05-14 15:46] #42 closed

[2020-09-23 20:51] bhomaidan1990 opened #45 "Texture Error "u_texture_0": "F\image.png""
I added this line to the settings to show the image :
[code]
so the error popped up on VsCode, can you please tell me how to render the image correctly?

[code]

[2020-09-24 05:07] actarian commented on #45
@bhomaidan1990 due to VSCode file loading policy restriction you can load texture with relative path or over http with enabled CORS:

[code]

You can also load textures directly in fragment with relative or remote http path:

[code]

[2020-09-25 09:27] Chilus commented on #45
@actarian
Loading the textures directly in fragment works for me with a remote http path, but doesn't with a relative path. I've tried out several options and different vscode workspace hierarchies but no success. Do you have any ideas?

[2020-09-27 07:14] actarian commented on #45
@Chilus texture path should be relative to workspace root folder, eg. if you got a folder named `data` in your workspace you should write relative path like this:

```uniform sampler2D u_tex0; // ./data/moon.jpg```

[2020-10-21 22:48] zeroinformatique opened #46 "Load error for #include"
I just added a simple `#include "common.glsl"` in my project, but I get an error with VSC:

The path and filenames are correct.
I'm on Windows 10 with VSC 1.50.1

[2020-11-14 18:53] jinsong-qiu commented on #45
Interesting. It works with root/*.frag and ./data/logo.jpg, but NOT with root/shaders/*.frag and ../data/log.jpg.

[2020-11-24 19:00] Anatta336 commented on #46
I'm experiencing the same problem. Also on Windows 10 (64-bit) with Visual Studio Code 1.15.1. For a project in l:/Shaders with `#include "remap.glsl"` I receive the following error (there is a file at `l:/Shaders/remap.glsl`).

I have found a partial workaround. If I have another .glsl file open in Visual Studio Code and switch from that tab back to the main shader it correctly compiles a working

[2020-11-26 05:57] bhomaidan1990 commented on #45
@actarian  Thanks for your detailed explanation.

[2020-11-26 05:57] #45 closed

[2020-12-02 21:15] Azorlogh opened #47 "WebGL2: IO buffers don't work if u_mouse isn't written somewhere"
This code produces a black image :
[code]

But adding a completely random `//u_mouse` comment to the code fixes it:
[code]

[2020-12-04 09:59] EnixCoda opened #48 "Formatting != operator with the non-compact formatter"
The `!=` operator seems to be not correctly formatted when the `Use compact formatter` option is disabled in settings.

### Before formatting
[code]

### After
[code]

And there is an error message in the output tab: `ERROR line 1    if      syntax error`

Thank you for this extension!

[2021-03-08 04:23] gabehilism commented on #46
If you want to solve the problem without having to tab back and forth between open files, you can force the extension to re-render the webview like so at panel.ts (153):

`
	public update(uri?: vscode.Uri) {
		return this.render(uri);
	}
`

Not the best solution, but temporarily seems to get the job done.

[2021-03-17 14:59] polyclick opened #50 "Docs: example how to load an .obj"
Hi

I can't seem to figure out how to load a custom `.obj`, can we get an example in the docs or playground on how to do this?

Thanks

[2021-03-18 12:15] mattorp opened #51 "Flicker/stutter on update settings.json"
Is there a way to avoid this flickering on updating the settings.json? I'm currently updating it from an external script, and it would be nice for prototyping if this can be avoided.

https://youtu.be/YM7vl-MRYrM

[2021-03-18 13:13] actarian commented on #51
@mattorp udating the settings.json on every nth frame could be an heavy task for vscode. maybe could be faster to update the glsl file itself, but even this involve accessing to the file system. the fastest way should be exporting the glsl with the export to html feature and update the uniform values via javascript.

[2021-03-18 13:20] actarian commented on #50
Hi @polyclick, here you can find a working example:
https://github.com/actarian/glsl-canvas/blob/master/docs/shaders/example-basic.glsl

You should load the obj model by commenting the a_position attribute in the vertex shader.

Es.

#if defined(VERTEX)
attribute vec4 a_position; // data/dolphin.obj
...

[2021-03-18 13:53] mattorp commented on #51
Writing to the glsl indeed solves the problem. Thank you @actarian !

[2021-03-18 13:53] #51 closed

[2021-03-18 13:56] mattorp commented on #51
Example of an implementation:

[code]

[2021-03-18 14:51] polyclick commented on #50
Thanks for the reply @actarian! I tried this but doesn't seem to work for me right now?

Here's my project structure & the first bit of the code. I'm trying to figure out what is wrong but I don't know where to look for error messages.

![my_glsl_—_loadmodel](https://user-images.githubusercontent.com/1213072/111646180-b81a2c80-8801-11eb-9e82-c8df53d20a5c.jpg)

[2021-03-18 14:52] polyclick commented on #50
Thanks! This works :)

[2021-03-18 14:52] #50 closed

[2021-03-21 18:58] polyclick commented on #46
I'm encountering the same error on macOS Big Sur when trying to use `#include "file.glsl"`, I get an error:

[code]

[2021-04-04 17:12] actarian commented on #48
@EnixCoda issue has been resolved in latest version `0.2.12`. Thank you for your submission.

[2021-04-04 17:15] actarian commented on #47
@Azorlogh issue has been resolved in latest version `0.2.12`. Thank you for your submission.

[2021-04-04 17:18] actarian commented on #46
Latest version `0.2.12` now supports nested includes with relative path and better support for loading local resources. Thank you for your submission.

[2021-04-04 17:19] actarian commented on #41
@BrendonCon latest version `0.2.12` now support nested includes with relative path. Thank you for your submission.

[2021-04-04 17:59] polyclick commented on #46
Thank you sooo much! :) This resolves the problem I was having. Thanks!

[2021-04-06 13:29] #48 closed

[2021-04-07 16:07] BrendonCon commented on #41
@actarian thank you so so much! Updating now. Cheers

[2021-04-07 16:07] #41 closed

[2021-04-09 13:53] TheMasterFX opened #53 "Texture error "u_texture_0": "./foo.jpg" since v0.2.12"
I just updated GLSL Canvas to Version v0.2.12 from v0.2.11 and I now get the error 'Texture error "u_texture_0": "./foo.jpg"
![image](https://user-images.githubusercontent.com/12451336/114189638-b5b37a00-994a-11eb-8dd3-30708ee088fd.png)
When I downgrade to v0.2.11 everything works just fine

My VSCode Version info
[code]
my .vsocde/settings.json looks like this
[code]

[2021-04-20 09:14] polyclick opened #54 "Breaks when trying to use u_camera"
I'm trying to use the camera uniform but the moment I include `u_camera` somewhere in the fragment shader, glsl-canvas breaks and stops updating altogether.

Here's a very simple example that show the problem:

[code]

Cheers!

[2021-05-13 20:46] jaredly commented on #54
I'm also experiencing this. Interestingly, even a comment that mentions `u_camera` breaks the view 🤔

[2021-05-13 21:45] jaredly commented on #54
I think I tracked down the issue here https://github.com/actarian/glsl-canvas/pull/16

[2021-05-14 13:41] jaredly commented on #54
here's a build of the extension that fixes it, fwiw
[glsl-canvas-0.2.12.vsix.zip](https://github.com/actarian/vscode-glsl-canvas/files/6479127/glsl-canvas-0.2.12.vsix.zip)

[2021-05-17 19:41] Azorlogh commented on #47
Strangely now both show a black screen for me :confused:

[2021-05-18 19:26] actarian commented on #47
@Azorlogh this is weird, it works on MacOs but not on Windows. Need to investigate further.

[2021-05-19 17:28] Azorlogh commented on #47
Oh I should specify I'm on linux with nvidia's proprietary drivers.

[2021-05-20 02:00] actarian commented on #47
@Azorlogh  should be related to the version of Chrome (87) adopted by VsCode as occurred to the glTF Tools VsCode extension [here](https://github.com/google/filament/issues/3308). I'm updating the [glsl-canvas](https://github.com/actarian/glsl-canvas) lib.

[2021-05-20 04:32] actarian commented on #47
@Azorlogh could you please check if these WebGL1 & WebGL2 [examples](https://actarian.github.io/glsl-canvas/buffer.html) work on your device?

[2021-05-21 17:55] Azorlogh commented on #47
I tested them on chrome 90 and they both seem to work, I also tested in an embedded browser inside vscode and it works as well (in vscode whatismybrowser.com says my browser is "Headless Chrome 89")

[2021-05-22 19:55] #46 closed

[2021-05-22 20:18] actarian commented on #54
@polyclick @jaredly pull request has been published as version `0.2.13`

[2021-05-22 20:21] actarian commented on #53
@TheMasterFX issue has been resolved in latest version `0.2.13`. Thank you for your submission.

[2021-05-22 20:31] actarian commented on #47
@Azorlogh extension has been updated to version `0.2.13` with the new [glsl-canvas](https://github.com/actarian/glsl-canvas) lib.

[2021-05-23 12:26] Azorlogh commented on #47
It works now! Thanks for this useful extension

[2021-05-23 16:10] #47 closed

[2021-06-29 15:56] AK82 opened #59 "Activate GUI for changing custom uniforms at runtime"
After pressing the option button I can see any only the performance window in the upper left corner.
No Open Controls button like the one in your example.
Can you please provide more explanations on how to activate GUI ?
Thanks.

[2021-07-07 15:02] Chilus commented on #59
I'm having a similar issue. In a previous version of VSCode, or this plugin, I was able to see the Uniforms control GUI...

[2021-07-25 13:59] dom1817 commented on #59
Same issue here, was trying to figure out how to use DAT.gui with glsl-canvas but it doesn't seem to be working anymore.

[2021-07-29 05:09] monster916 commented on #59
Same issue here

[2021-08-24 07:08] err123 commented on #13
Wow i love this

[2021-08-30 14:53] kei-arc commented on #13
Is there a way to turn off this feature?
In my case, this harms the readability a lot.

[2021-08-30 17:33] controversial commented on #29
@actarian The use case would be to preview glsl shaders that are written using glslify imports. Many people write glsl shaders using syntax like:
[code]
rather than pasting the noise function at the beginning of the file, but that means those glsl files can no longer be previewed using glslCanvas.

[2021-09-19 14:35] actarian commented on #59
@AK82, @Chilus, @dom1817, @monster916 issue has been resolved in latest version `0.2.14`. Thank you for your submissions, and sorry for late reply.

[2021-09-19 14:36] #54 closed

[2021-09-19 14:36] #53 closed

[2021-09-27 13:11] dom1817 commented on #59
Great thanks! I think it would be very useful to specify in the readme file that the DAT.gui controls will be only available to uniforms that are declared in settings.json

[2021-10-02 15:45] fonspa opened #61 "[Feature request?] SamplerCube, textureCube"
Hi,

I'm having a blast working with this extension so far. Everything seems to be working nicely.
However I'm trying to use a cubemap for a particular fragment but I can't make it work.
Are `samplerCube` and `textureCube` even supported ? I found nothing in the doc so far. The shader compile without error, so I guess the functions are found, but the result is a black screen.

[code]

Thanks!

[2021-10-05 11:06] SET001 opened #62 "using a_texcoord causes error"
in this simple example:

[code]

as soon as I uncomment the first line of the main, I'm gettin this error:

`Load error: "TypeError: Cannot read property 'replace' of undefined"`

[2021-10-22 20:25] ubavic opened #63 "WebGL 2 problem"
First of all, thank you for creating this amazing tool ❤️

I have a problem with WebGL 2 shaders. I tried to compile the following simple shader:
[code]
glslCanvas prints 'glsl-canvas error' without listing any errors. Upon restarting VS Code pop-up emerges with a message 'Load error: "TypeError: Cannot read property 'replace' of undefined"'.

The shader is taken from [this page](https://tsherif.g

[2021-10-22 23:10] #63 closed, assigned to nobody

[2021-10-29 09:05] edap opened #64 "Record button crash"
Step to reproduce it:
Make a shader, press the record button.

Result:
A dialog window to save a .webm file appears on screen. But it is not possible to click anywhere, it is not even possible to open a terminal and kill vscode. The GUI is stuck, I have to press the button to shutdown the laptop.

Expected behaviour:
It is possible to select the location where the file is then saved.

I am Linux,

[2021-10-29 09:09] edap opened #65 "Texture samples array does not work"
In my workspace settings I have:

[code]

In my shader I use this uniforms:

[code]

All the 3 samplers show the same image, "./textures/0.png".  It looks like slot 1 and slot 2 are not read, or their content is overwritten by the first texture in glsl-canvas.textures object.

[2021-10-30 15:31] actarian commented on #65
Hi @edap correct naming for textures is
`uniform sampler2D u_texture_0;`
`uniform sampler2D u_texture_1; `
`uniform sampler2D u_texture_2;`

[2021-10-30 15:37] actarian commented on #64
@edap Some othe user had the same issue on linux, maybe this can help you
https://github.com/actarian/vscode-glsl-canvas/issues/1

[2021-10-30 21:02] edap commented on #65
I see, thanks.

[2021-10-30 21:02] #65 closed

[2021-12-15 17:18] edap opened #66 "Feature request, texture size"
Would be possible to have a uniform with the size of a texture? considering that `textureSize` is not supported in GLES, it could be helpful to have this value.

[2021-12-25 12:23] bencresty commented on #62
I can confirm. Using `v_texcoord` (instead of `a_texcoord`) inside the fragment shader works fine. `a_texcoord` is probably only available in the vertex shader and passed through to `v_texcoord` there.

[2021-12-25 12:43] bencresty opened #67 "Vertex and fragment shader in one file doesn't work?"
Hi,

According to the documentation of glsl-canvas (https://github.com/actarian/glsl-canvas) we should be able to use both vertex and fragment shader code in one glsl file:

[code]

Buf when doing this with the glsl-canvas vs code extension this isn't working.

When doing this:
[code]

The canvas shows a list of errors:
![image](https://user-images.githubusercontent.com/69322733/147384957-26d9e2e1

[2022-01-06 09:22] bencresty opened #68 "relative file paths not working when starting with dot"
Hi,

Not sure if this is an issue or something has changed in later versions, but according to an older issue here: https://github.com/actarian/vscode-glsl-canvas/issues/45  we should be able to load textures from within the settings json relatively to the project root by starting with a dot.

However, when doing this it doesn't work and throws a texture error. So this does not work:

[code]

Howe

[2022-01-14 07:11] wyhinton opened #69 "Is any anti-aliasing enabled by default?"
This might just be me imagining things, but does this extension (or VSCode?) apply anti-aliasing to the canvas? [I've ported this shadertoy example](https://www.shadertoy.com/view/WtSXzD), and I just feel like when I'm viewing in VSCode I can't tell the difference between the "normal" and "anti-aliased" parts of the image, but when I view it in Shader Toy, I can tell the difference.

[code]

Anyon

[2022-01-16 18:36] pabluch commented on #68
@bencresty rolling back to 0.2.11 solved the issue for the moment for me

[2022-02-05 19:46] actarian commented on #67
@bencresty Issue has been resolved on latest version 0.2.15. Thank you for your submission!

[code]

[2022-02-05 19:48] actarian commented on #69
@wyhinton Issue has been resolved in latest version 0.2.15. You can now enable or disable antialias in extension settings. Thank you for your submission!

[2022-02-07 08:08] bencresty commented on #67
@actarian Thanks a lot for this! Very much appreciated! It's great to be able to do this within vs code!

[2022-02-07 08:08] #67 closed

[2022-02-07 19:16] fegemo opened #71 "v_position in screen space?"
Hi everyone! Thanks for the extension!! I've been using it to learn GLSL and enjoying it a lot =)

A question I have is if the `in vec4 v_position` variable is provided in screen space, rather in local, modelview or in the camera coordinate systems. I would expect it to be in modelview, but it seems to be given in camera space (recorded a quick video). If it is in camera space, is there another in

[2022-02-08 05:43] actarian commented on #71
Hi @fegemo thank you!
maybe you're searching for v_texcoord?

[code]

[2022-02-08 11:22] fegemo commented on #71
Hi @actarian, thanks for your response. I'm believe (may be wrong - noob here) I can not use texcoord for fragment positions in this case (it would work only with the flat quad object, but not with the solids).

My goal is to have a fragment position so I can use `normalize(lightposition - fragposition)` to get an incidence vector of a positional light (trying to create Phong here).

[2022-02-08 18:13] #69 closed

[2022-02-08 20:27] actarian commented on #71
@fegemo these are the varyings provided by the default vertex shader:
[code]
and this is the default vertex shader:
[code]
You can obtain also ```u_projectionMatrix```, ```u_modelViewMatrix```, ```u_normalMatrix```and ```u_camera``` as uniforms.
Anyway to calculate light incidence you can use the interpolated v_normal as in this example:

[code]
If you need something different you can provide your

[2022-02-10 18:16] fegemo commented on #71
Hi @actarian. When you presented the code for the default vertex shader, I think I understood what is going on: `v_position` is in normalized device coordinates (as it was transformed by the modelview then the projection matrix). So it is as expected, the fragment positions (given by `v_position`) are all between [-1, +1].
In that case, if I want to a point light, in the scene, I can simply provid

[2022-02-25 01:34] bencresty commented on #67
Hi @actarian  , I just tried the version you mention having the fix (0.2.15) with your exact same glsl code, but it's not working here. I'm getting the following error (in VS Code 1.64.2):

![image](https://user-images.githubusercontent.com/69322733/155636623-23baa98c-b75d-4f40-8224-3a2b675696f9.png)

Which is odd, because `#version` is the very first thing in the file on the first row.  I also ch

[2022-03-06 08:48] bencresty opened #72 "Please re-open issue: Vertex and fragment shader in one file doesn't work"
Unfortunately issue https://github.com/actarian/vscode-glsl-canvas/issues/67 would be solved and should work now according to your post, but when testing with your exact shader code it's not working here. I closed the issue tho as I thought it was fixed. Could you please re-open the issue? Thanks!

[2022-03-06 09:09] actarian commented on #67
@bencresty , please try reinstall the extension by removing and deleting the extension folder, seems there's a problem in vscode in updating the extension dependancies, after a clear install it should work.

[2022-03-06 10:01] bencresty commented on #67
Thanks for your response. Just removed the complete extension folder for this extension from inside {user}/.vscode/extensions` and reinstalled the module from within vs code. That didn't help. The exact same glsl code you posted here keeps throwing the same error message as shown in my previous post.

After that I upgraded VS Code because there was a new update. That also didn't help.

Than I went

[2022-04-26 07:09] willstall commented on #37
Is there a way to set wrap/repeat modes with this method as well?

[2022-04-29 18:15] nickph7 opened #74 "[Feature Request] Disable auto-rotate for models"
Hi,
I find myself using your tool a lot lately to create shaders for some specific obj. In many instances, I would like to deactivate the auto-rotation and use the camera to look around the geometry. Is there any way to integrate this feature, perhaps in the settings.json options? Thank you so much for your work, your tool is very useful for us at the moment.

[2022-05-04 21:20] wyhinton commented on #66
bump!

[2022-06-13 23:36] GaticusHax opened #76 "#include directive still parsed in commented line"
This executes when it should be ignored.
`// #include "disabled.glsl"`

Works as expected.
`/* #include "disabled.glsl" */`

Other directives might also be affected. I didn't check.

[2022-06-22 15:42] Blechlawine opened #77 "#include not working in webgl 2"
the '#include' macro causes a `Load error: "Error: Network request failed for url ..."`
code:
[code]
The error message:
![image](https://user-images.githubusercontent.com/53613039/175073146-5c73d345-019c-4e5f-abf9-081e37476f5c.png)

I tried a relative path as well and it said syntax error?
![image](https://user-images.githubusercontent.com/53613039/175073433-9bda39dc-5652-4f4a-9642-0ed3782797be.pn

[2022-08-11 11:18] gmikhail opened #79 "Error when creating a simple shader"
When I try to create a simple shader for Android (OpenGL ES) I get an error:

`Load error: "TypeError: Cannot read properties of undefined (reading 'replace')"`

![scr](https://user-images.githubusercontent.com/4838367/184121445-de074571-b8c0-4b82-9b0e-dda3bc8d5cc3.jpg)

This shader works on a real device. What am I doing wrong?

[code]

[2022-08-11 11:23] gmikhail commented on #79
Oh, never mind. I just need to use `v_texcoord` instead of `textureCoord` (as it is said here https://github.com/actarian/vscode-glsl-canvas/issues/62#issuecomment-1001011066) and then everything works.

[2022-08-11 11:23] #79 closed, assigned to nobody

[2022-08-12 17:06] gmikhail opened #80 "How to rename default attributes and uniforms?"
In my shaders, I want to use my variable names (instead of, for example, `in vec2 v_texcoord;` or `uniform vec2 u_mouse;`) and it's inconvenient for me to rename them every time when I edit the shader in VSCode.

Where I can change it names in the extension source code?

I tried to search and change the names myself, but apparently I'm missing something.

[2022-09-04 05:20] magichim opened #81 "It has formatter settings?"
I mean I want to change code formatter default tab size 6 -> 2 or 4.

It has this config setting?

[2022-09-04 08:16] magichim commented on #81
It looks like a divied (vertex 6 size, fragment 2 size).

[2022-09-04 08:16] #81 closed, assigned to nobody

[2022-10-03 05:48] nathanoffline commented on #72
![image](https://user-images.githubusercontent.com/43102813/193509079-f69969d2-806f-4cde-a130-7aba5b27dfb4.png)
I'm also getting that version error in #67 ... did you manage to find a solution?

[2022-10-28 22:35] nzhddemian commented on #7
got the Texture error on macos 12.6 with local files only

[2022-11-07 22:24] nzhddemian commented on #68
I was able to load texture only from rawgit link like this
 "glsl-canvas.textures": {
        "0": "https://rawgit.com/actarian/plausible-brdf-shader/master/textures/noise/cloud-1.png",
}